body{
	background-color: rgb(202, 228, 202);
}
main{
	border: 1px solid rgb(108, 174, 108);
	height: 20rem;
	width: 50%;
	margin: auto;
	align-content: center;
	background-color: rgb(143, 187, 143);
}
label{
	color: white;
	font-size: large;
}
form{
	padding: 1rem;
	justify-content: center;
}
input{
	width: 95%;
	margin: 1rem 0 1rem 0 ;
	border: none;
	border-radius: 5px;
}
#formBtn{
	background-color: white;
	color: green;
	font-size: medium;
	width: 95.5%;
	height: 2rem;
	cursor: pointer;
	padding: 0.5rem;
}
#formBtn:hover{
	background-color: rgb(32, 109, 32);
	color: white;
}

